body {
    --bright-background: #e9e7ff;
    --med-background: #566b95;
    --dark-background: #1f2937;
    --main-text: #f9faf8;
    --sec-text: #e5e7eb;
    --button: #3882f6;
    --text: #1f2937;
    --max-width: 90rem;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0px;
}

.top {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cont-wrap {
    width: 900px;
    max-width: var(--max-width);
    display: flex;
    flex: 1;
    flex-flow: column;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero {
    display: flex;
    flex: 1;
    align-self: center;
    flex-flow: row;
    justify-content: center;
    padding: 32px 0px;
    flex-shrink: 1;
    gap: 18px
}

.hero div {
    display: flex;
    flex-flow: column nowrap;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.hero button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    max-width: 130px;
    padding: 8px;
}

.subtext {
    color: #e5e7eb;
}

.img-container {
    flex: 1;
    height: 250px;
    background-color: #8cb4ed86;
}

.hero .img-container {
    flex-shrink: 0;
    width: 500px;
    height: 250px;
    flex-basis: 500px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
}

.first {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    /* text-align: center; */
     background-color: var(--bright-background);
}

.card-container {
    flex: 1;
    display: flex;
}

.card {
    flex: 1;
    width: 250px;
    max-width: 280px;
    text-align: center;
    border: var(--button) solid;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}

.card p {
    flex: 1;
    width: inherit;
}

.second {
    background-color: var(--med-background);
    flex: 1;
}

.third {
    background-color: var(--bright-background);
    flex: 1;
}

.bluebox {
    background-color: var(--button)
}

.footer {
    flex: 1;
    color: var(--main-text);
    background-color: var(--dark-background);
    text-align: center;
}

.footer p {
    margin: 0;
    padding: 12px;
}